@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin 'tailwind-scrollbar';

header{
  padding: 10px 16px;
}
body{
  background-color: black;
  color: white;
  
}
.page-container {
  padding: 16px ; 
  border-width: 2;
}
